git+https://github.com/sanchit-gandhi/whisper-jax.git@0d3bc54
cached_property
nvidia-cudnn-cu11==8.6.0.163
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax==0.4.13
jaxlib==0.4.13+cuda11.cudnn86
slack_sdk